@font-face {
  font-family: 'GmarketSansBold';
  src: url("./fonts/GmarketSansTTFBold.ttf") format("truetype"); }
@font-face {
  font-family: 'GmarketSansMedium';
  src: url("./fonts/GmarketSansTTFMedium.ttf") format("truetype"); }
@font-face {
  font-family: 'GmarketSansLight';
  src: url("./fonts/GmarketSansTTFLight.ttf") format("truetype"); }
@font-face {
  font-family: 'NotoRegular';
  src: url("./fonts/NotoSerifKR-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'NotoSemiBold';
  src: url("./fonts/NotoSerifKR-SemiBold.otf") format("opentype"); }
@font-face {
  font-family: 'NotoSansRegular';
  src: url("./fonts/NotoSansKR-Regular.otf") format("opentype");
  font-style: normal; }
@font-face {
  font-family: 'NotoSemiBold';
  src: url("./fonts/STIXTwoText-SemiBold.otf") format("truetype");
  unicode-range: U+0030-007A;
  font-style: normal; }
body {
  width: 100%;
  max-width: 1080px;
  min-width: 480px;
  padding: 0;
  border: 0;
  margin: 0;
  align-content: center;
  background-color: #EBECF0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  body header {
    position: relative;
    top: 96px;
    left: 0.5em;
    height: 36px;
    font-family: 'GmarketSansMedium';
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    color: #61677C;
    text-shadow: 1px 1px 1px #FFF; }
  body article {
    box-sizing: border-box;
    margin: 36px;
    position: relative;
    top: 128px;
    color: #323333;
    text-align: left; }
    body article h1 {
      height: 64px;
      top: 50%;
      border-radius: 16px;
      margin-top: 128px;
      margin-bottom: 36px;
      line-height: 64px;
      text-indent: 32px;
      transform: translateY(-50%);
      font-size: 24px;
      font-weight: 100;
      font-family: 'GmarketSansLight';
      color: #61677C;
      text-shadow: 1px 1px 1px #FFF;
      box-shadow: -3px -3px 50px #FFF, 3px 3px 50px #BABECC;
      transition: all 0.1s ease-in-out;
      cursor: pointer;
      font-weight: 600; }
      body article h1:hover {
        box-shadow: -3px -3px 20px #FFF, 3px 3px 20px #BABECC; }
      body article h1:active {
        box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }
      body article h1 p-p {
        opacity: 0.5;
        position: absolute;
        align-content: right;
        font-family: 'NotoSansRegular';
        right: 4px;
        transform: translateX(-16px);
        font-size: 16px;
        text-align: right;
        height: 16px;
        margin-bottom: 36px; }
    body article h3 {
      font-family: 'NotoSansRegular';
      font-size: 24px;
      font-weight: 100;
      margin-top: 24px;
      margin-bottom: 24px; }
      body article h3 p-p {
        opacity: 0.5;
        position: absolute;
        align-content: right;
        font-family: 'NotoSansRegular';
        right: 4px;
        transform: translateY(6px);
        font-size: 16px;
        text-align: right;
        height: 16px;
        margin-bottom: 36px; }
    body article p {
      text-indent: 48px;
      font-family: 'NotoSemiBold';
      font-size: 16px;
      line-height: 2; }
      body article p b {
        font-family: 'NotoSansRegular'; }
    body article .m {
      font-family: 'NotoSansRegular';
      text-align: center;
      line-height: 2; }
    body article .quoter {
      font-family: 'NotoSansRegular';
      color: #BABECC;
      text-shadow: 1px 1px 1px #FFF;
      text-align: right;
      margin-right: 36px; }
    body article ol {
      margin-top: 36px;
      margin-bottom: 36px; }
    body article img {
      padding: 8px;
      border-radius: 16px;
      display: block;
      margin: 64px auto;
      box-shadow: -2px -2px 8px #FFF, 2px 2px 8px #BABECC; }
  body footer {
    margin: 64px; }

/*# sourceMappingURL=os.css.map */
