
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$color-white: #FFF;
$color-bg: #Eaf0f5;
$color-shadow: #ccd8eb;
$color-demi: #607ca9;
$color-dark: #2f4874;
$r: 16px;

#banner{
    z-index: 1;
    -webkit-transform: translateZ(0);
    border: none;
    width: 2*$r;
    position: fixed;
    top: 2*$r;
    left: 2*$r;
}

*{
    box-sizing: border-box;
    margin:0 auto;
}

body {
    overflow-x : hidden;
    overflow-y : scroll;
    width: 100%;
    max-width: 75*$r;
    min-width: 45*$r;
    padding: 0;
    border: 0;
    margin: 3*$r auto;
    padding: 0 6*$r;
    background-color: $color-bg;
    

        header{
            box-sizing:border-box;
            position: relative;
            margin: 10*$r 0;
            font-family: 'GmarketSansLight';
            font-weight: bold;
            font-size: 2.75*$r;
            letter-spacing: 0.1*$r;
            word-spacing: 0.5*$r;
            text-align: center;
            color: $color-dark;
            text-shadow: -2px -2px 2px $color-white,  2px 2px 2px $color-shadow;

            transition: all 0.5s ease-in-out;

            &:hover {
                color: $color-shadow;
                text-shadow: 1px 1px 1px $color-white;
            }
        }


        article{
        box-sizing: border-box;
        position: relative;
        color: $color-dark;
        text-align: left;
    
            h1{
                max-width: 80*$r;
                height: 4*$r; top: 50%;
                border-radius: 2*$r;
                margin-top: 8*$r; margin-bottom: 2*$r;
                line-height: 4*$r;
                text-indent: 2*$r;
                transform: translateY(-50%);

                font-weight: 500;
                font-family: 'Noto Sans KR', sans-serif;                
                letter-spacing: 0;
                word-spacing: 0.2*$r;
                font-size: 1.5*$r;

                color: $color-demi;
                box-shadow: -3px -3px 16px $color-white,  3px 3px 16px $color-shadow;
                text-shadow:-1px -1px 1px $color-white,  1px 1px 1px $color-shadow;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                
                &:hover {
                    color: $color-demi;
                    box-shadow: -1px -1px 1px $color-white,  1px 1px 1px $color-shadow;
                    text-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
                }
                
                &:active {
                  box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
                }

                @at-root p-p{
                    font-family: 'Noto Sans KR' sans-serif;
                    font-weight: 400;
                    color: $color-shadow;
                    text-shadow: 1px 1px 1px $color-white;
                    position: absolute;
                    align-content: right;
                    right: 4px;
                    transform: translateX(-2*$r);
                    font-size: $r;
                    text-align: right;
                    height: $r;
                    margin-bottom: 2*$r;
                    transition: all 0.5s ease-out;
                    &:hover {
                        color: $color-demi;
                        }
                    }

            }

            h3{
                font-family: 'Noto Sans KR' sans-serif;
                letter-spacing: 0.025*$r;
                font-weight: 500;
                color: $color-demi;
                font-size: 1.25*$r;
                margin-top: 1.5*$r;
                margin-bottom: 1.5*$r;
                padding-left: $r;

                p-p{
                    opacity: 0.5;
                    position: absolute;
                    align-content: right;
                    font-family: 'Noto Sans KR' sans-serif;
                    font-weight: 400;
                    right: 4px;
                    transform: translateY(6px);
                    font-size: 16px;
                    text-align: right;
                    height: 16px;
                    margin-bottom: 36px;
                }
            }

            p{
                text-align: justify;
                padding: 0 2*$r;
                text-indent: 3*$r;
                font-family: 'Noto Serif KR', serif;
                font-weight: 600;
                font-size: $r;
                line-height: 2;
                letter-spacing: 0.03*$r;
                margin: $r 0;
                b{
                    font-family: 'Noto Sans KR', sans-serif;
                    font-weight: 400;
                    text-shadow:-2px -2px 3px $color-white,  2px 2px 3px $color-shadow;
                }

                b-2{
                    font-family: 'Noto Sans KR', sans-serif;
                    font-weight: 400;
                }

                s-m{
                    font-family: 'Noto Sans KR', sans-serif;
                    font-weight: 400;
                    text-indent: 0px;
                    font-size: 0.75*$r;
                    text-shadow: 1px 1px 1px $color-white;
                    color: $color-shadow;
                    display: inline-block;
                    padding: 0 0 0 2px;
                    margin: 0 0 0 2px;    
                    transition: all 0.5s ease-out;
                    &:hover {
                        color: $color-demi;
                        text-shadow:-2px -2px 2px $color-white,  2px 2px 2px $color-shadow;
                    }    

                }

            }

            .m{
                text-indent: 0;
                letter-spacing: 0.025*$r;
                color: $color-demi;
                font-family: 'Noto Sans KR', sans-serif;
                font-weight: 400;
            text-align: center;
                line-height: 2;
                padding: 2*$r 4*$r;
                margin: 2*$r 2*$r;
                box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
                border-radius: $r;
                transition: all 0.5s ease-out;
                &:hover {
                    border-radius: 0.25*$r;
                    box-shadow: inset 4px 4px 16px $color-shadow, inset -4px -4px 16px $color-white;
                    font-size: 16px;
                    text-shadow:-2px -2px 2px $color-white,  2px 2px 2px $color-shadow;
                }

            
            }

            .quoter{
                font-family: 'Noto Sans KR', sans-serif;
                font-weight: 400;
                color: $color-shadow;
                text-shadow: 1px 1px 1px $color-white;
                text-align: right;
                margin: 0 $r $r 0;
                transform: translateY(-$r);
                transition: all 0.5s ease-out;
                &:hover {
                    color: $color-demi;
                    }
            }

            ol{
                margin-top: 3*$r;
                margin-bottom: 3*$r;
            }

            img{
                padding: 8px;
                border-radius: 16px;
                display: block;
                margin: 64px auto;
                box-shadow: -2px -2px 2px $color-white,  2px 2px 2px $color-shadow;
                transition: all 0.5s ease-out;
                &:hover {
                    border-radius: 0.25*$r;
                    box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
                }
            }

            a{
                text-indent: 0;
                font-family: 'Noto Sans KR', sans-serif;
                font-weight: 400;
                color: $color-demi;
                text-shadow: 1px 1px 1px $color-white;
                border-radius: $r;
                margin: 0.25*$r, 0;
                transition: all 0.5s ease-out;
                display: inline-block;
                padding: 0 4px;
                margin: 0 4px;
                box-shadow: -2px -2px 16px rgba(0,0,0,0),  2px 2px 16px rgba(0,0,0,0);
                &:hover {
                    box-shadow: -1px -1px 2px $color-white,  1px 1px 2px $color-shadow;
                    color: $color-shadow;
                    font-size: 16px;
                    

                }

                &:active {
                    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
                    color: $color-demi;
                  }
  
            }
        }

        footer{
            margin: 64px;
        }


  }