@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
#banner {
  z-index: 1;
  -webkit-transform: translateZ(0);
  border: none;
  width: 32px;
  position: fixed;
  top: 32px;
  left: 32px; }

* {
  box-sizing: border-box;
  margin: 0 auto; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  max-width: 1200px;
  min-width: 720px;
  padding: 0;
  border: 0;
  margin: 48px auto;
  padding: 0 96px;
  background-color: #Eaf0f5; }
  body header {
    line-height: 56px;
    box-sizing: border-box;
    position: relative;
    margin: 128px 0;
    font-family: 'GmarketSansLight';
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1.6px;
    word-spacing: 8px;
    text-align: center;
    color: #2f4874;
    text-shadow: -2px -2px 2px #FFF, 2px 2px 2px #ccd8eb; }
    body header p {
      line-height: 16px;
      margin: 8px 0;
      font-size: 16px;
      color: #ccd8eb;
      text-shadow: 1px 1px 1px #FFF;
      transition: all 0.5s ease-in-out; }
      body header p:hover {
        color: #607ca9; }
  body article {
    box-sizing: border-box;
    position: relative;
    color: #2f4874;
    text-align: left; }
    body article h1 {
      max-width: 1280px;
      height: 64px;
      top: 50%;
      border-radius: 32px;
      margin-top: 128px;
      margin-bottom: 32px;
      line-height: 64px;
      text-indent: 32px;
      transform: translateY(-50%);
      font-weight: 500;
      font-family: 'Noto Sans KR', sans-serif;
      letter-spacing: 0;
      word-spacing: 3.2px;
      font-size: 24px;
      color: #607ca9;
      box-shadow: -3px -3px 16px #FFF, 3px 3px 16px #ccd8eb;
      text-shadow: -1px -1px 1px #FFF, 1px 1px 1px #ccd8eb;
      transition: all 0.5s ease-in-out;
      cursor: pointer; }
      body article h1:hover {
        color: #607ca9;
        box-shadow: -1px -1px 1px #FFF, 1px 1px 1px #ccd8eb;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0); }
      body article h1:active {
        box-shadow: inset 1px 1px 2px #ccd8eb, inset -1px -1px 2px #FFF; }
      p-p {
        font-family: 'Noto Sans KR' sans-serif;
        font-weight: 400;
        color: #ccd8eb;
        text-shadow: 1px 1px 1px #FFF;
        position: absolute;
        align-content: right;
        right: 4px;
        transform: translateX(-32px);
        font-size: 16px;
        text-align: right;
        height: 16px;
        margin-bottom: 32px;
        transition: all 0.5s ease-out; }
        p-p:hover {
          color: #607ca9; }
    body article h3 {
      font-family: 'Noto Sans KR' sans-serif;
      letter-spacing: 0.4px;
      font-weight: 300;
      color: #607ca9;
      font-size: 20px;
      margin-top: 24px;
      margin-bottom: 24px;
      padding-left: 16px; }
    body article p {
      text-align: justify;
      padding: 0 32px;
      text-indent: 48px;
      font-family: 'Noto Serif KR', serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 2;
      letter-spacing: 0.48px;
      margin: 16px 0; }
      body article p b {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        text-shadow: -2px -2px 3px #FFF, 2px 2px 3px #ccd8eb; }
      body article p b-2 {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400; }
      body article p s-m {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        text-indent: 0px;
        font-size: 12px;
        text-shadow: 1px 1px 1px #FFF;
        color: #ccd8eb;
        display: inline-block;
        padding: 0 0 0 2px;
        margin: 0 0 0 2px;
        transition: all 0.5s ease-out; }
        body article p s-m:hover {
          color: #607ca9;
          text-shadow: -2px -2px 2px #FFF, 2px 2px 2px #ccd8eb; }
      body article p x-x {
        text-indent: 0px;
        text-shadow: 1px 1px 1px #FFF;
        color: #ccd8eb;
        transition: all 0.5s ease-in-out; }
        body article p x-x:hover {
          color: #607ca9;
          text-shadow: -2px -2px 2px #FFF, 2px 2px 2px #ccd8eb; }
      body article p b-b {
        text-indent: 0px;
        text-shadow: 1px 1px 1px #FFF;
        color: #ccd8eb;
        transition: all 0.5s ease-in;
        filter: blur(2px); }
        body article p b-b:hover {
          transition: all 2s ease-in;
          filter: blur(0);
          color: #607ca9;
          text-shadow: -2px -2px 2px #FFF, 2px 2px 2px #ccd8eb; }
    body article .m {
      text-indent: 0;
      letter-spacing: 0.4px;
      color: #607ca9;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
      text-align: center;
      line-height: 2;
      padding: 32px 64px;
      margin: 32px 32px;
      box-shadow: inset 1px 1px 2px #ccd8eb, inset -1px -1px 2px #FFF;
      border-radius: 16px;
      transition: all 0.5s ease-out; }
      body article .m:hover {
        border-radius: 4px;
        box-shadow: inset 4px 4px 16px #ccd8eb, inset -4px -4px 16px #FFF;
        font-size: 16px;
        text-shadow: -2px -2px 2px #FFF, 2px 2px 2px #ccd8eb; }
    body article .quoter {
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
      color: #ccd8eb;
      text-shadow: 1px 1px 1px #FFF;
      text-align: right;
      margin: 0 16px 16px 0;
      transform: translateY(-16px);
      transition: all 0.5s ease-out; }
      body article .quoter:hover {
        color: #607ca9; }
    body article .cap {
      text-indent: 0;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
      color: #ccd8eb;
      text-shadow: 1px 1px 1px #FFF;
      text-align: center;
      margin: 0 16px 16px 0;
      transform: translateY(-48px);
      transition: all 0.5s ease-out; }
      body article .cap:hover {
        color: #607ca9; }
    body article ol {
      margin-top: 48px;
      margin-bottom: 48px; }
    body article img {
      padding: 8px;
      border-radius: 16px;
      display: block;
      margin: 64px auto;
      box-shadow: -2px -2px 2px #FFF, 2px 2px 2px #ccd8eb;
      transition: all 0.5s ease-out; }
      body article img:hover {
        border-radius: 4px;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0); }
    body article a {
      text-indent: 0;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
      color: #607ca9;
      text-shadow: 1px 1px 1px #FFF;
      border-radius: 16px;
      margin: 4px, 0;
      transition: all 0.5s ease-out;
      display: inline-block;
      padding: 0 4px;
      margin: 0 4px;
      box-shadow: -2px -2px 16px rgba(0, 0, 0, 0), 2px 2px 16px rgba(0, 0, 0, 0); }
      body article a:hover {
        box-shadow: -1px -1px 2px #FFF, 1px 1px 2px #ccd8eb;
        color: #ccd8eb;
        font-size: 16px; }
      body article a:active {
        box-shadow: inset 1px 1px 2px #ccd8eb, inset -1px -1px 2px #FFF;
        color: #607ca9; }
  body footer {
    text-align: center;
    letter-spacing: 0.48px;
    margin: 64px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-shadow: 1px 1px 1px #FFF;
    color: #ccd8eb;
    transition: all 0.5s ease-out; }
    body footer:hover {
      color: #607ca9;
      text-shadow: -2px -2px 2px #FFF, 2px 2px 2px #ccd8eb; }

/*# sourceMappingURL=template.css.map */
